<div class="dragon-list m-sm-5">
  <table *ngIf="dragons.length; else noDragons" class="table">
    <thead class="bg-secondary">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Created at</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="cursor-pointer" *ngFor="let dragon of dragons | orderBy: 'name'">
      <tr [routerLink]="['/detail', dragon.id]">
        <td class="dragon-name">
          <p>{{dragon.name}}</p>
          <small class="text-muted">{{dragon.type}}</small>
        </td>
        <td class="dragon-creation">{{dragon.createdAt | date}}</td>
        <td class="delete-dragon" (click)="deleteDragon(dragon.id, $event)">
          delete
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noDragons>
    <div class="no-dragons-available">
      <p>Sorry, there are no dragons available :(</p>
      <button class="btn btn-outline-secondary" [routerLink]="['/create']">Create a new one</button>
    </div>
  </ng-template>
</div>
